<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Agradecemos pela escolha</h5>
        <p class="card-text">Site desenvolvido por Vinícius Nascimento Ribeiro</p>
    </div>
    <div class="card-footer text-muted"> ©2023 Copyright: Vinícius N Ribeiro </div>
</div>